#body{
    background-color: black;
}
.h3{
color: white;
}
div{
    color: white;
}
.button{
   background-color:red ;
   
}

#text1{
    color: white;
 }

#tb1{
    background-color: grey;
}

#tb3{
    background-color: grey;
}
#tb5{
    background-color: grey;
}
#tb7{
    background-color: grey;
}
#tb9{
    background-color: grey;
}

#th1{
    padding: 30p;
}